<div class="container mt-4">
<div class="card add-car">
    <h5 class="card-header">Novo usuário</h5>
    <div class="card-body">
        <form id="add-form" (ngSubmit)="f.form.valid && saveUser(f)" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" [(ngModel)]="user.name" #name="ngModel" id="name" name="name" required class="form-control" [ngClass]="{'is-invalid':f.submitted && name.invalid}" placeholder="Digite seu nome"/>
                <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                    <div *ngIf="name.errors?.required">Nome é obrigatório</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" [(ngModel)]="user.email" #email="ngModel" id="email" name="email" required class="form-control" [ngClass]="{'is-invalid':f.submitted && email.invalid}" placeholder="Digite seu email"/>
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors?.required">Email é obrigatório</div>
                </div>
            </div>
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" [(ngModel)]="user.login" #login="ngModel" id="login" name="login" required class="form-control" [ngClass]="{'is-invalid':f.submitted && login.invalid}" placeholder="Digite seu login"/>
                <div *ngIf="f.submitted && login.invalid" class="invalid-feedback">
                    <div *ngIf="login.errors?.required">Login é obrigatório</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" [(ngModel)]="user.password" #password="ngModel" id="password" name="password" required class="form-control" [ngClass]="{'is-invalid':f.submitted && password.invalid}" placeholder="Digite seu password"/>
                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors?.required">Password é obrigatório</div>
                </div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="admin" [(ngModel)]="user.admin" ng-checked="user.admin" #admin="ngModel" name="admin">
                <label class="form-check-label" for="admin">Salvar como administrador</label>
              </div>
            <button type="submit" class="btn btn-primary btn-add-car">Salvar</button>
            <button type="reset" class="btn btn-secondary btn-add-car ml-1" (click)="cleanForm(f)">Cancelar</button>
        </form>
    </div>
</div>
</div>
